#container {
  width: 100%;
}
#broom {
  padding: 20px;
  width: 600px;
  height: 600px;
  border: 2px double #0f0f0f;
}

.target {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #222222;
  border: 2px double #0f0f0f;
}

.player {
  position: absolute;
  width: 4px;
  height: 4px;
  background: url('http://www.nndb.com/people/540/000024468/r-kelly.jpg');
}

.drops {
  background-color: papayawhip;
  height: 10px;
  width: 5px;
  position: absolute;
}
